.item1{
  height: 80px;
  background-color: blue;
}

.item2{
  background-color: rgb(171, 249, 2);
}

.item3{
  background-color: red;
  margin: 0px 10px;
}

.item4{
  background-color: green;
}

.item5{
  height: 80px;
  background-color: yellow;
}
