<div class="d-flex flex-row bd-highlight mb-3 justify-content-center">
  <div class="p-2  item1 ">Flex item 1</div>
  <div class="p-2  item2 align-self-end">Flex item 2</div>
  <div class="p-2  item3 align-self-center">Flex item 3</div>
  <div class="p-2  item4 align-self-start">Flex item 4</div>
  <div class="p-2  item5">Flex item 5</div>
</div>

<div class="d-flex flex-row-reverse bd-highlight justify-content-center">
  <div class="p-2  item1">Flex item 1</div>
  <div class="p-2  item2 align-self-end">Flex item 2</div>
  <div class="p-2  item3 align-self-center">Flex item 3</div>
  <div class="p-2  item4 align-self-start">Flex item 4</div>
  <div class="p-2  item5">Flex item 5</div>
</div>
